[Unit]
Description=Livemap
After=syslog.service network.target
Documentation=man:livemap

[Service]
Type=simple
WorkingDirectory=/NeoSectional
ExecStart=/livemap-venv/bin/python3 /NeoSectional/livemap.py

[Install]
WantedBy=multi-user.target
