[Unit]
Description=Livemap
After=network-online.target
Documentation=man:livemap

[Service]
Type=simple
WorkingDirectory=/opt/NeoSectional
ExecStart=/opt/venv/livemap/bin/python3 /opt/NeoSectional/livemap.py

[Install]
WantedBy=multi-user.target
