# Requirements.txt for dependencies
#
# Using PIP3 directly - installs python libraries globally - not recommended
# sudo pip3 install -r requirements.txt
# 
# Setting up a Python3 Virtual Environment - Recommended
# (requires python3-venv)
# 
# sudo python3 -m venv /livemap-venv
# source /livemap-venv/bin/activate
# pip3 install -r requirements.txt
#

# Beaglebone Devices
Adafruit-BBIO>=1.2.0

# CircuitPython API to support board devices
Adafruit-Blinka>=8.6.1
adafruit-circuitpython-busdevice>=5.2.3
adafruit-circuitpython-framebuf>=1.4.14
adafruit-circuitpython-ssd1306>=2.12.11
Adafruit-GPIO>=1.0.3


# Adafruit-PlatformDetect>=1.3.8
# Adafruit-PureIO>=1.1.9
Adafruit-SSD1306>=1.6.2

## beautifulsoup4>=4.11.1
Flask>=2.2.2
folium>=0.13.0
gpiozero>=1.6.2


## html5lib>=1.1
Jinja2>=3.1.2
logzero>=1.7.0
lxml>=4.9.1
numpy
Pillow>=10.0.1


## pysftp>=0.2.9
## python-nmap>=0.7.1
# requests>=2.21.0

# RPI Library for WS281x LEDs
rpi-ws281x>=4.3.4

# RPI GPIO Library
RPi.GPIO>=0.7.1

# RPI LCD DRiver for Hitachi HD44780
RPLCD>=1.3.0


## seashells>=0.1.2
smbus2>=0.4.2
urllib3>=1.26.12
## Werkzeug>=2.2.2
## wget
psutil>=5.8.0
pytz
metar
pypng
pyqrcode
python-dateutil
luma.core
luma.oled
webcolors
python_tsl2591
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
