{% extends "base_lite.html" %}
{% block content %}
    <div>
        <table>
            <tr>
                <form action="numap" method="post">
                    <td style="width: 33%" class="submitbuttons">
                        <b>Number of LEDs</b>
                        <input type="text" name="numofap" size="4" value="{{ airports|length }}"/>
                        <input type="submit" class="button1" value="Update Number"/>
                    </td>
                    <td style="width: 33%" class="submitbuttons">
                        <div class="flashes">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <div class="flashes">
                                        {% for message in messages %}{{ message }}{% endfor %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                        </div>
                    </td>
                </form>
                <td style="width: 33%" class="submitbuttons">
                    <form action="importap" method="post" enctype="multipart/form-data">
                        <b>Import Airports</b>
                        <input type="file" class="button1" name="file"/>
                        <input type="submit" class="button1" value="Submit"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <form action="appost" id="appost" method="post">
        <!--Airports File Data-->
        <table style="width:100%;">
            <tr class="headernote">
                <td colspan=5 style="font-size:small;">
                    <b>NOTE:</b> Enter the appropriate 4 character airport identifier. If identifier is only 3
                    characters, precede
                    it with proper country code, i.e. 'K' for US. If the LED position will not be used, enter <font
                        color="red">
                    'NULL'</font>. Enter <font color="red">'LGND'</font> for LED's used as a legend.
                    <font color="red">'Enter' will save airport change. 'Tab' will not. Save each airport change if
                        using LED
                        on/off</font>
                </td>
            </tr>
            <tr>
                <th class="config">Pin #</th>
                <th class="config">Airport ID</th>
                <th class="config">Purpose</th>
                <th class="config">Metar SRC</th>
                <th class="config">Description</th>
                <th class="config">Flight Category and Raw METAR</th>
            </tr>
            {% for aprt_icao, aprt_data in airports.items() %}
                <tr class="config" id="{{ loop.index - 1 }}">
                    <td style="width: 5%; text-align:center;">
                        <b>{{ aprt_data['ledindex'] }}</b>
                    </td>
                    <td style="width: 10%; text-align:center;">
                        <input title="{{ aprt_icao|join(", ") }}"
                               onkeydown="upperCaseF(this)"
                               type="text"
                               minlength="4"
                               maxlength="4"
                               onfocus="fillinledonoff(this)"
                               id="ap{{ loop.index - 1 }}"
                               name="{{ loop.index - 1 }}/ap{{ loop.index - 1 }}/msg{{ loop.index - 1 }}"
                               size="5"
                               onchange="myFunction(this)"
                               value="{{ aprt_icao }}"/>
                        <!--onfocus="this.value=''"-->
                    </td>
                    <td style="width: 10%; text-align:center">
                        <label for="purpose">Purpose:</label>
                        <select name="purpose" id="purpose">
                            {% set purposelist = ["off", "led", "lgnd", "all"] %}
                            {% for purpose in purposelist %}
                                {% if purpose == aprt_data['purpose'] %}
                                    <option value="{{ purpose }}" selected>
                                        {{ purpose }}
                                    </option>
                                {% else %}
                                    <option value="{{ purpose }}">
                                        {{ purpose }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                    <td style="width: 10%; text-align:center">
                        <b>{{ aprt_data['metarsrc'] }}</b>
                    </td>
                    <td style="width: 15%" id="msg{{ loop.index - 1 }}">
                        {% if aprt_icao.startswith('lgnd') %}
                            <font color="green">LED at pin {{ loop.index - 1 }} will be used as a <b>Legend</b>
                                item.</font>
                            <td></td>
                            <td></td>
                        {% elif aprt_icao.startswith('null') %}
                            <font color="green">LED at pin {{ loop.index - 1 }} will remain <b>OFF</b>.</font>
                            <td></td>
                            <td></td>
                        {% else %}
                            <!--Display airport name and city, region and link to info page-->
                            <a href="http://www.fltplan.com/Airport.cgi?{{ aprt_icao }}"
                               target="_blank"><b>{{ aprt_icao }}</b></a>
                            </td>
                            <td style="width: 60%; text-align:left">
                            <!--Grab Flight Category and raw METAR from api.weather.gov and display badge-->
                            <span id="fcloc{{ loop.index - 1 }}"></span>
                            <script>get_badge('{{ aprt_icao }}', 'fcloc{{ loop.index - 1 }}');</script>
                        {% endif %}
                        </td>
                </tr>
            {% endfor %}
        </table>
    </form>
{% endblock content %}
